/* Layout */

body,
html {
    height: 100%;
    width: 100%
}
body {
    background: #fff;
}
body.font-small {
    font-size: 10px
}
body.font-medium {
    font-size: 12px
}
body.font-large {
    font-size: 15px
}
/**** Alignment ****/
/* Margin */

.m0 {
    margin: 0
}
.m5 {
    margin: 5px
}
.m10 {
    margin: 10px
}
.mt0 {
    margin-top: 0
}
.mt1{
	margin-top: 1px;
}
.mt5 {
    margin-top: 5px !important
}
.mt10 {
    margin-top: 10px !important
}
.mt15 {
    margin-top: 15px !important
}
.mt20 {
    margin-top: 20px !important
}
.mt30 {
    margin-top: 30px;
}
.mr5 {
    margin-right: 5px
}
.mr10 {
    margin-right: 10px
}
.mr20 {
    margin-right: 20px
}
.mb0 {
    margin-bottom: 0 !important
}
.mb5 {
    margin-bottom: 5px !important
}
.mb10 {
    margin-bottom: 10px
}
.mb15 {
    margin-bottom: 15px !important
}
.mb20 {
    margin-bottom: 20px
}
.mb25 {
    margin-bottom: 25px !important
}
.ml5 {
    margin-left: 5px
}
.ml10 {
    margin-left: 10px
}
.ml15 {
    margin-left: 15px
}
.ml20 {
    margin-left: 20px
}
/* Padding */

.p0 {
    padding: 0 !important
}
.p5 {
    padding: 5px !important
}
.p10 {
    padding: 10px
}
.p15 {
    padding: 15px !important
}
.p20 {
    padding: 20px
}
.pt2 {
    padding-top: 2px
}
.pt5 {
    padding-top: 5px
}
.pt10 {
    padding-top: 10px
}
.pt15 {
    padding-top: 15px
}
.pt20{
    padding-top:20px;     
}
.pr5 {
    padding-right: 5px !important
}
.pr10 {
    padding-right: 10px
}
.pr15 {
    padding-right: 15px !important
}
.pb0 {
    padding-bottom: 0px;
}
.pb5 {
    padding-bottom: 5px
}
.pb10 {
    padding-bottom: 10px
}
.pb15 {
    padding-bottom: 15px
}
.pb20 {
    padding-bottom: 20px;
}
.pl0 {
    padding-left: 0 !important
}
.pl5 {
    padding-left: 5px
}
.pl10 {
    padding-left: 10px
}
.pl15{
    padding-left:15px;
}
.pl20{
    padding-left: 20px !important
}
.pl25{
    padding-left: 25px;
}
.pr0{
    padding-right: 0
}
/* Border */
.bl1-white{
	border-left:1px solid #fff;
}
.bl1-grey{
	border-left: 1px solid #acacac;
}
.bb0{
	border-bottom: 0px !important;
}
/**** Typography ****/
/* Heading */

.hn-h1 {
    font-size: 1.833em;
    line-height: 30px;
    text-transform: none;
    font-weight: normal;
    margin-top: 2px;
}
.hn-h2 {
    font-size: 1.583em;
    text-transform: none;
    font-weight: normal;
}
.hn-h3 {
    font-size: 1.250em;
    text-transform: none;
    font-weight: 600;
    margin: 0;
}
/* Link */

a:link,
a:visited,
a:focus {
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #333;
}
a.yellow:link,
a.yellow:visited,
a.yellow:focus {
    font-weight: bold;
    text-decoration: underline;
    color: #957729;
    white-space: nowrap;
}
.fs15{
    font-size: 15px;
}
/* Text Color */

.text-red {
    color: #c32f23
}
.text-yellow {
    color: #957729
}
.text-light-yellow{
    color: #d7bb73
}
.text-blue {
	color: #37637a
}
.btn, .all-caps{
    text-transform:uppercase;
}
.text-wrap{
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-nowrap{
    white-space: nowrap
}
.word-break{
	word-break: break-all;
}
.no-border{
    border: none;
}
.position-relative{
    position:relative;
}

.width-100{
    width: 100%;
}

.text_color{
    color: #356078;
}
.form-control:required:invalid {
    outline: none;
}
​/* Backgrounds */
.bg-lite-gray {
    background-color: #ebebeb !important;
}
/* Buttons */

.btn-primary {
    color: #ffffff;
    background: #3a627b;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #3a627b 0%, #2e4e62 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #3a627b 0%, #2e4e62 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #3a627b 0%, #2e4e62 100%) #3a627b;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3a627b', endColorstr='#2e4e62', GradientType=0);
    /* IE6-9 */
}
.btn-primary:focus,
.btn-primary.focus {
    color: #ffffff;
    background-color: #264356;
    border-color: #2e5167;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #264356;
    border-color: #2e5167;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #264356;
    border-color: #2e5167;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #3a627b;
    border-color: #2e5167;
}
.display-inline-block {
    display: inline-block
}
.display-block {
    display: block
}
.text-bold{
    font-weight:bold !important;
}
/* Header */

#header {
    position: relative;
    height: 95px
}
header,
header a,
header a:link {
    color: #e7e7e7;
    font-weight: normal;
}
header a:hover,
header a:focus,
header a:active {
    text-decoration: none;
    color: white
}
#utility_nav {
    position: absolute;
    top: 20px;
    right: 8px
}
#utility_nav ul {
    padding: 0
}
header #utility_nav ul li,
header #utility_nav ul li a {
    list-style: none;
    display: inline-block;
    padding: 3px
}
header #utility_nav ul li {
    margin: 0;
    padding: 0 .4em 0 1em;
    display: inline;
    line-height: 16px;
    height: 16px;
    background: url(../images/nav_utility_pipe.gif) repeat-y center right;
}
header #utility_nav ul li:last-child {
    background: transparent
}
header #utility_nav ul li a.small {
    font-size: 10px;
}
header #utility_nav ul li a.medium {
    font-size: 12px;
}
header #utility_nav ul li a.large {
    font-size: 15px;
}
header #utility_nav ul li a.active {
    background: black
}
header #utility_nav ul li a.facebook,
span a.facebook {
    background: url(../images/icon_facebook.gif) no-repeat;
    height: 16px;
    width: 16px;
    position: relative;
    top: 4px;
    display: inline-block;
}
header #welcome {
    color: #D7BB73;
    line-height: 36px;
    position: absolute;
    bottom: 0;
    right: 272px;
}
#header #search {
    width: 250px;
    height: 36px;
    padding: 7px 4px 6px 12px;
    background: #2e5066;
    -moz-border-radius:6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
    position: absolute;
    bottom: 0;
    right: 0
}
#header #search label {
    float: left;
    display: block;
    font-size: 12px;
    line-height: 22px;
    margin: 0 12px 0 0;
    font-weight: normal;
}
#header #search input#search_input {
    float: left;
    display: block;
    margin: 0;
    padding: 2px 2px 2px 6px;
    border: 1px solid #5b829b;
    border-right: 0;
    font-size: 12px;
    width: 138px;
    line-height: 16px;
    color: #000;
    background: #fff;
    -moz-border-radius:6px 0 0 6px;
    -webkit-border-radius:6px 0 0 6px;
    border-radius:6px 0 0 6px;
}
#header #search input.submit {
    float: left;
    display: block;
    margin: 0;
    padding: 1px 0;
    border: 1px solid #5b829b;
    font-size: 12px;
    width: 34px;
    height: 22px;
    color: #fff;
    background: #3a627b;
    -moz-border-radius:0 6px 6px 0;
    -webkit-border-radius:0 6px 6px 0;
    border-radius:0 6px 6px 0;
}
.mobile-header-icon{
    position: absolute;
    bottom: 3px;
    right: -5px
}
.mobile-header-icon a{
    display: inline-block;
    padding: 10px 0
}
#mobile-user img{
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #7a919c;
}
#mobile-search img{
    padding-left:  10px;
    padding-right:  5px;
    border-left: 1px solid #486375;
}
/* Header Ends */
/*header serch*/
.mobile-search-container{
    position: relative;
    display: none;
}
input#mobile_search {
    width: 100%;
    height: 32px;
    border:2px solid #d7bb73;
    border-bottom: none;
    padding: 0 50px 0 10px;
    color: black
}
span.btn.btn-primary.search_text {
    position: absolute;
    right: 0;
    height: 32px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: #d7bb73;
    border-color: #d7bb73;
}
div#m_search {
    line-height: 70px;
}
/*header serch*/

/* Navigation */

.hn-navbar .navbar-nav > li > a {
    padding: 10.5px 20px;
    color: #2e5066;
    font-weight: normal;
    font-size: 1.083em;
}
.dropdown-menu > li > a {
    padding: 5px !important;
    border-top: 1px solid #d5d5d5;
    color: #37637a;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #ebebeb;
    color: #5b829b;
}
.dropdown-menu > li.locked > a,
.dropdown-menu > li.locked > a:hover {
    background-image: url(../images/icon_lock.gif) !important;
    background-repeat: no-repeat;
    background-position: 8px;
    padding-left: 24px !important;
    width: 199px;
}
nav .dropdown-menu {
    border-radius: 0;
    padding: 16px;
    border-bottom: 1px solid #ababab;
    border-right: 1px solid #ababab;
    border-left: 1px solid #ababab;
    border-top: 0;
}
nav .dropdown-menu > li > a:hover,
nav .dropdown-menu > li > a:focus {
    background-color: transparent;
}
nav li.nav-home,
nav li.nav-home a:hover {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
/* Breadcrumb */

#breadcrumbs a:link,
#breadcrumbs a:visited {
    color: #e7e7e7;
    font-weight: normal;
    text-decoration: none;
    font-size: 12px
}
#breadcrumbs a:hover,
#breadcrumbs a:focus,
#breadcrumbs a:active {
    color: #fff
}
.breadcrumb {
    background-color: transparent;
    padding: 10px 20px 0 20px;
    margin-bottom: 10px
}
.breadcrumb > li + li:before {
    content: ">";
    color: #e7e7e7;
    font-weight: normal;
}
.breadcrumb > li > a,
.breadcrumb > .active {
    color: #f7f7f7;
    font-weight: bold;
}
/*Home*/
/** Content Area **/
.content-area {
    background: #ffffff;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    position: relative;
    z-index: 1
}
.content-area:before, .content-area:after{
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #ebebeb;
    top: 0;
    z-index: 1;    
    display: block
}
.content-area:before{
    left: 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.content-area:after{
    right: 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.content-area.two-column:after{
    display: none;
}
.content-area.three-column:after{
    display: block;
} 
.content-area > .row{
    position: relative;
    z-index: 2
} 
.red {
    height: 15px;
    background: #c32f23;
    box-shadow: 0 0px 1px #666;
}
.blue {
    height: 15px;
    background: #37637a;
    box-shadow: 0 0px 1px #666;
}
.focusbox {
    padding: 10px;
    box-shadow: 0 1px 3px #333;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.focusbox-title {
    text-transform: none;
    color: #c32f23;
    margin: 0 0 4px 0;
    font-weight: bold;
    font-size: 15px;
}
.focusbox ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
}
.focusbox ul li {
    margin: 0;
    padding: 4px 4px 3px 4px;
    border-bottom: 1px solid #a6a6a6;
}
.focusbox ul li:last-child {
    border-bottom: none;
}
.focusbox ul li a {
    font-weight: normal;
}
.aside-left {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.aside-right,
.mid-section {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.aside-left,
.aside-right {
    background: #ebebeb;
}
.aside-left .panel,
.aside-right .panel {
    background: #ebebeb;
    /* For browsers that do not support gradients */
    
    background: -webkit-linear-gradient(#ffffff, #ebebeb);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#ffffff, #ebebeb);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(#ffffff, #ebebeb);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#ffffff, #ebebeb);
    /* Standard syntax */
    
    margin-bottom: 20px;
}
.panel-heading {
    padding: 0px;
}
.focusbox .panel-body {
    border-top: none !important;
}
.more-less {
    float: right;
    font-size: 12px;
}
.arrows ul li a {
    padding: 0 0 0 24px;
    min-height: 17px;
    background: url(../images/icon_arrow.png) 0 2px no-repeat;
    display: block;
}
.arrows ul li {
    border-bottom: none;
}
.focusbox ul li.locked a {
    background-image: url(../images/icon_lock.gif);
    background-repeat: no-repeat;
    background-position: 3px 4px;
    padding-left: 20px;
}
.mid-section {
    background-color: #fff;
}
/*bene main content*/

.mid-section-title {
    font-size: 22px;
    color: #c32f23;
}
.footer-select {
    margin-left: 5px;
    padding: 2px;
}
.carousel-indicators {
    top: 0;
    height: 20px;
    background-color: #37637a;
}
#carousel-beneficiary .item span {
    display: block;
    padding: 8px 14px 12px 14px;
    color: #444;
}
#carousel-beneficiary .item strong {
    display: block;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1em;
    margin: 0 0 6px 0;
}
#carousel-beneficiary .item em {
    display: block;
    font-weight: normal;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
}
#carousel-beneficiary {
    padding-top: 20px;
}
.carousel-indicators {
    left: 30%;
    width: 100%;
}
#carousel-beneficiary img {
    width: 100%;
}
#carousel-beneficiary .carousel-indicators {
    text-align: left;
    padding-left: 5px;
}
#carousel-beneficiary .carousel-indicators li {
    margin-top: 5px;
    border: 0px;
    background-color: #5c7d92;
    width: 6px;
    height: 6px;
    margin-left: 3px;
}
#carousel-beneficiary li.active {
    background-color: #fff;
}
#carousel-beneficiary .carousel-inner {
    box-shadow: 0px 1px 5px 1px #888888;
}
.carousel-indicators .active {
    margin: 1px;
}
.custom-list ul {
    list-style-type: none;
    padding-left: 10px;
}
.custom-list li:before {
    content: url("../images/bullet_arrow.gif");
    color: #c32f23;
    font-size: 15px;
    padding-right: 10px;
}
/**footer**/

.hn-footer-link {
    padding: 12px;
    background: #2e5467;
    text-align: center;
    -moz-border-radius:0 0 6px 6px;
    -webkit-border-radius:0 0 6px 6px;
    border-radius:0 0 6px 6px;
    -webkit-box-shadow: inset 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 4px -2px rgba(0, 0, 0, 0.5)
}
footer ul {
    padding: 5px 0;
    margin-bottom: 0
}
footer ul li {
    margin: 0;
    padding: 0 12px;
    background: none;
    display: inline;
    border-right: 1px solid #57879f;
}
footer ul li:last-child {
    border: none;
}
footer ul li a {
    color: #b5dbE9;
}
footer ul li a:hover,
footer ul li a:focus {
    color: #ffffff;
}
.credits {
    margin: 20px 0;
    color: #b5dbE9;
    text-align: center;
}
footer .hn-footer-link ul li a {
    color: #b5dbE9;
    font-weight: normal;
}
footer .hn-footer-link ul li a:hover {
    color: #fff;
}
.dspinlblk {
    display: inline-block;
}
/* Tabs */

.nav-tabs {
    background-color: #ebebeb;
    border-bottom: 0px;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.nav-tabs > li {
    margin-bottom: 0px;
}
.nav-tabs > li > a {
    font-size: 15px;
    border: 0px;
    color: #000;
}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #356078;
    background-color: transparent;
    border: 0px;
}
.grey-box{
    background: #ebebeb;
    padding: 25px 15px;
    float: left;
    width:100%;
}
.tab-box {
    background: #ebebeb;
    padding: 25px 15px 65px;
    min-height: 240px;
    position: relative;
    margin-bottom: 30px
}
.tabbox-btn{
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    padding:0 15px;
}
/* Form controls*/
input[type="radio"], input[type="checkbox"]{
    margin: 2px 0 0
}
.form-control {
    color: #000;
    padding: 6px;
}
select.form-control {
    line-height:25px;
}
.required-label:before {
    content: "*";
    color: #c32f23
}
.required:after {
    content: "*";
    color: #c32f23
}
.required-label{
    text-align: left;
    line-height: 30px;
    margin: 0
}

/* Modal */

#registerSKC .modal-header {
    border-bottom: none;
}
#registerSKC .modal-header h2 {
    margin: 5px 0px 0px;
}
.mdl-bdy-title {
    color: #3a627b;
    font-weight: bold;
}
#registerSKC .modal-body p {
    font-size: 11px;
}
.modal-header{
    border:none;
}
.b_rad0 {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.hn-btn {
    width: 100%;
}
/****for center****/

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    float: none;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
    position: relative;
}
.vertical-align-table{
	display: table;
    height: 100%;
    width: 100%;
}
.vertical-align-tablecell{
	display: table-cell;
    vertical-align: middle;
	float:none;
}
/*sliding tabs[Secondary tabs] plugin CSS*/
.checkbox label.checkbox-suggest{
	left:5px;
	top:0
}
.checkbox label.checkbox-suggest:after{
	left:0
}

.nav-secondaryTabs {
    background: none;
    padding-top: 0px;
    margin-bottom: 20px;
    border-bottom: 2px solid #356078;
}
.scrtabs-tab-container {
    position: relative;
}
.arrow_visible .scrtabs-tab-container {
    padding: 0px 20px;
}

.nav-secondaryTabs li  a{
    background: #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin: 0 2px;
}
.nav-secondaryTabs li:first-child {
   margin-left: 0
}
.scrtabs-js-tab-scroll-arrow-left {
    position: absolute;
    left: 0
}
.scrtabs-js-tab-scroll-arrow-right {
    position: absolute;
    right: 0
}
.scrtabs-tab-container * {
    box-sizing: border-box;
}
.scrtabs-tab-container {
    height: 54px;
}
.scrtabs-tab-container .tab-content {
    clear: left;
}
.scrtabs-tabs-fixed-container {
    float: left;
    overflow: hidden;
    width: 100%;
}
.scrtabs-tabs-movable-container {
    position: relative;
}
.scrtabs-tabs-movable-container .tab-content {
    display: none;
}
.scrtabs-tab-scroll-arrow {
    color: #9c9c9c;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin-bottom: -1px;
    padding: 15px 5px;
    width: 20px;
}
.scrtabs-tabs-fixed-container ul.nav-tabs > li {
    white-space: nowrap;background: none;
}
.scrtabs-tab-content-outside-movable-container .nav-tabs {
    display: none;
}
/*End of sliding tabs[Secondary tabs] plugin CSS*/
/*primary tab-parent tabs*/

.primaryTabs {
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
}
.primaryTabs ul.nav-prim{
    width: 100%;
    background-color: transparent;
}
.primaryTabs ul.nav-prim li{
    position: relative;
    width: 25%;
    text-align: center;
    min-height: 1px
}
.primaryTabs ul.nav-prim li > a{
    font-size: 15px;
    font-weight: normal;
    color: #acacac;
    padding: 10px 5px;
}
.primaryTabs ul.nav-prim li.active > a, .primaryTabs ul.nav-prim li.completed > a{
    color: #356078;
    font-weight: bold;
}
.primaryTabs ul.nav-prim li:before{
    content: "";
    background: #e1e1e1;
    border-radius: 50%;
    text-align: center;
    height: 14px;
    left: 50%;
    position: absolute;
    bottom: -15px;
    width: 14px;
    margin-left: -7px;
    z-index: 2
}
.primaryTabs ul.nav-prim li.active:before, .primaryTabs ul.nav-prim li.completed:before{
    background: #356078;
}
.primaryTabs ul.nav-prim li:after{
    content: "";
    width: 100%;
    background-color: #e1e1e1;
    position: absolute;
    bottom: -10px;
    height: 2px;
    z-index: 1;    
    left: 50%;
}
.primaryTabs ul.nav-prim li.completed:after{
    background-color: #356078
}
.primaryTabs ul.nav-prim li.completed.active:after{
    background-color: #e1e1e1
}
.primaryTabs ul.nav-prim li:last-child:after{
    display: none;
}

#bene-multiple-acc,#provider-multiple-acc,
p.result {
    display: none
}
.nav-secondaryTabs li a {
    padding: 10px;
    background: #999;
    color: #fff;
}
.nav-secondaryTabs li:last-child a {
    margin-right: 0
}
.nav-secondaryTabs li:first-child a {
    margin-left: 0
}
.nav-secondaryTabs li.active > a {
    color: #fff;
    background: #356078;
}
.nav-secondaryTabs li.active > a:hover,
.nav-secondaryTabs li.active > a:focus,
.nav-secondaryTabs li.active > a:visited,
.nav-secondaryTabs li > a:hover,
.nav-secondaryTabs li > a:focus,
.nav-secondaryTabs li > a:visited {
    color: #fff;
    background-color: #356078
}

/*End of primary tab-parent tabs*/

/* Get Verfied */
.rad_right_space{
    font-weight: bold;
}
.rad_right_space input{ 
    margin-right: 5px;
}
.verification_form {
    display: none;
}
.showSkc{
    margin-top: 5px
}

/* Validate Identity */
.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0px;
}
.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px !important;
  top: 5px;
  font-size: 13px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox span{
  color: #414650;
}
.checkbox label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  top: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 3px;
  top: 4px;
  font-size: 11px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label:after {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox input[type=checkbox]:checked + label:before {
  border-width: 8px;
}
.checkbox input[type=checkbox]:checked + label::after {
  font-family: 'Glyphicons Halflings';
  content: "\e013";
  color: #fff;
} 
td .checkbox{
    margin-top:5px;
    margin-bottom:15px;
}
.agree-checkbox .agree-checkbox-span{
    color: #957729;
    text-decoration: underline;
}
.col-1-or{
    margin-top: 32px;
    padding: 0px;
    width: 17px;
    font-weight: bold;
    float: left;
}
.agree-checkbox label{
    position: static;
}
.checkboxn-bene-text{
    width: 90%;
    display: inline-block;
}
.proceed-btn{
    overflow: auto;
}
.radio-btn label{
    margin-right: 10px;
    color: #37637a
}
.panel-group .panel + .panel{
    margin-top:0px;
}
/*Add Family Member*/
.text-decoration-underline{
    text-decoration: underline !important;
}
.border-btm-2-blue{
    border-bottom: 2px solid #366079 !important;    
}   
.borderBT-color-blue{
    border-bottom: 1px solid #366079 !important;
    border-top: 1px solid #366079 !important;
}
.text-normal{
    font-weight:normal !important;   
}
.table-layout-fixed{
    table-layout: fixed !important;
}

/* Add Dependents */
table tr th{
    color: #366079;
}
table#ManagePersonalTable tr td, table#allowPerTable tr td{
    vertical-align: middle;
    border-top: none !important;    
}
table#allowPerTable tr td:first-child, table#allowPerTable tr th:first-child{
    padding-left: 0
}
table#allowPerTable tr td:last-child{
    padding-right: 0
}
.floatNone{
    float: none !important;
}
.text-normal{
    font-weight:normal;    
}
.cus-width-25{
    width:25%;    
}
.cus-width-40{
    width:40%;   
}
#ManagePersonalTable tr td:first-child{
    padding-left :0px;
}
#ManagePersonalTable td, #ManagePersonalTable th{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
/* For Accordion Toggle */
.AddDepAccordion h4.panel-title a{
    color:#cfac44;
    padding: 10px 0px;
    display: block;
    font-weight: normal;
    background: #ffffff;
}
.AddDepAccordion .panel{
    box-shadow: none; 
    border: none;    
    border-bottom: 1px solid #366079;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 0;           
}
.AddDepAccordion .panel-collapse{
    margin-bottom: 10px;
}
.bb2{
    border-bottom: 2px solid #366079 !important;
}
/* HnfcDodMedicationList */
.MedListUL {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}
.MedListUL{
    border-bottom: 2px solid #356078;
    margin-bottom: 30px;    
}
.MedListUL .nav-secondaryTabs{
    margin-bottom:0;
    border-bottom:none;
}
h3.Medtitle{
    font:bold 12px verdana;
}
.MidTextDec{
    color:#365f79 !important;
    font:12px verdana;
}
hr.SepBorderDark{
    border-top:1px solid #acacac !important;
    margin-bottom: 30px;
}
.textColorBlack{
    color:000000;
}
.bg-lite-gray1 {
    background-color: #ebebeb !important;
}
/*Pagination*/
.pagination>li>a,
.pagination>li>span {
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important;
    margin: 0 2px;
}
.pagination > li > a,
.pagination > li > span {
    background-color: #999999;
    color: #FFF;
    border: 1px solid #999999;
}
.pagination-arrow{
    background-color: #ebebeb !important;
    border: 1px solid #ebebeb !important;
    color:#000 !important;
}
.pagination-active {
    background-color: #365f79 !important;
    border-color: #365f79 !important;
}
/* HNFS Table*/

.hnfs-res-table .table, .hnfs-table .table{
    border-top: 1px solid #365f79;
    border-bottom: 2px solid #365f79;
    margin-bottom: 10px
}
.hnfs-res-table .table tr td, .hnfs-table .table tr td{
    vertical-align: middle;
}
.hnfs-res-table, .hnfs-res-table thead tr th, .hnfs-table, .hnfs-table thead tr th{
    text-align: center;
    font-weight: normal;
}
.hnfs-res-table .table tbody tr td:first-child, .hnfs-table .table tbody tr td:first-child, .hnfs-res-table .table thead tr th:first-child, .hnfs-table .table thead tr th:first-child{
    text-align: left;
}
.hnfs-res-table .table > thead > tr > th, .hnfs-table .table > thead > tr > th{
    border-bottom: 1px solid #37637a;
}
.hnfs-res-table .table > tbody > tr > td, .hnfs-table .table > tbody > tr > td{
    border-top: none;
}

/*has-error*/
.has-error .errorMsg {
    color: #ff0000;
    font-weight:normal;
    margin-top: 5px;
}
.has-error .form-control, .has-error .form-control:focus {
    border-color: #ff0000;
}
/*has-error*/
#accSummary .form-group, #providerAccSummary .form-group {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
/*Credential Status*/
.show_table{
    display: none;
}
.show_stmt{
    display: none;
}
.indivdual_show{
    display: none;
}
.org_show{
    display: none;
}
.show_indiv_stmt{
    display: none;
}
.aside{
    padding-bottom:0 !important;
}
.dod-sort{
    margin: 8px 0
}
.dod-sort-float{
    float: right;
}
.dod-sort select{
    float: right;
    width: 150px;
    display: inline-block;
    margin: 2px 10px 2px 0;

}
 /*Provider get verified*/
#select_Location_table > thead > tr > th {
    border-bottom: 1px solid #37637a;
    padding: 5px 5px 5px 0px;
}
#select_Location_table .radio {
    margin: 5px;
}
#select_Location_table {
    border-top: 1px solid #365f79;
    border-bottom: 2px solid #365f79;
    margin-bottom: 10px;
}
#select_Location_table thead tr th:first-child {
    padding-left: 25px;
}
#select_Location_table tbody tr td:first-child {
    text-align: left;
}
#select_Location_table > tbody > tr > td {
    border-top: none;
    padding: 5px 5px 5px 0px;
    vertical-align: middle;
}
#selectLocation .modal-header {
    border: none;
}
.text-underline {
    text-decoration: underline !important;
}
.formContent {
    display: none;
}
 /*Provider get verified*/
table#allowPerTable_provider tr td{
    vertical-align: middle;
    border-top: none !important;    
}
table#allowPerTable_provider tr th:last-child{
    width: 50%
}
a.select-location.yellow {
    white-space: normal
}
.text-wrap-normal{
    white-space: normal !important
}
.okbutton{
    width:135px
}
/*Billing Summary*/
.glyphicon-question-sign{
    color: #cfac44;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    top: 2px;
}

/*Update Demography*/
.org_non_network_show,.indivdual_non_network_show,.show_org_nonnetwork_stmt{
    display: none;
}

/*Network Provider Directory*/
#npdProviderSearch textarea{
    height: 99px
}
select.inline-selectbox{
    display: inline-block;
    width: 60px
}
.pdf-icon{
    position: relative;
    top: -3px;
    padding: 0 2px;
}

/*Update Speciality*/
.update-confirmation{
    display: none;
}
.update-individual-button{
    margin-top: 35px
}
.ovrflwhidn{
    overflow: hidden;
}
.skype-icon:after{
	content:url(../images/miniskype.png);
	top: 3px;
	position: relative;
	right: -2px;
}
.add-circle:after{
	content:url(../images/add.png);
	top: 3px;
	position: relative;
	right: -2px;
}
.edit-square:after{
	content:url(../images/edit.png);
	top: 3px;
	position: relative;
	right: -2px;
}
/*npd search reslut*/
.table > tfoot > tr > td {
	border: none;
	background: #fafafa
}
.star_size li {
	font-size: 15px;
	padding-left: 0px;
	padding-right: 0px;
}
.glyphicon-star:before{
	color: #bbbbbb;
}
.star.glyphicon-star:before{
	color: #365f79;
}
.tab-box1 {
	background: #ebebeb;
	padding: 10px 5px 10px;
	margin-bottom:30px
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}
@media (min-width: 992px) {
    
    .hn-navbar-collapse {
        padding: 0px;
    }
    .hn-navbar {
        background-color: #ebebeb;
        -moz-border-radius: 0 0 6px 6px;
        -webkit-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        min-height: 40px;
        border: 0px;
        border-top: 8px solid #d0ac45;
    }
    .hn-navbar .navbar-nav > li:first-child > a {
        padding-left: 25px;
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
    }
    .hn-navbar .navbar-nav > li:hover,
    .hn-navbar .navbar-nav > li > a:hover,
    .hn-navbar .navbar-nav > .active > a,
    .hn-navbar .navbar-nav > .active > a:hover,
    .hn-navbar .navbar-nav > .active > a:focus {
        color: #2e5066;
        background-color: #fff;
        border-top: 8px solid #c32f23;
        margin-top: -8px;
    }
    .hn-navbar .navbar-nav > .active > a:before {
        content: "";
        width: 0;
        border: 10px solid #c32f23;
        border-color: #c32f23 transparent transparent transparent;
        position: absolute;
        left: 50%;
        top: -4px;
        margin-left: -10px;
    }
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    .open > .dropdown-menu {
        display: none;
    }
}
@media (max-width: 991px) {
    .parentTabs > .nav-tabs {
        width: 100%;
    }
    /*Header*/    
    header {
        height: 108px;
        border-bottom: 2px solid #d7bb73;
        position: relative;
    }
    #header {
        height: 105px
    }
    /*Navigation*/
    
    .hn-navbar .navbar-nav > li > a {
        padding: 10.5px 15px;
    }
    .dropdown-menu > li > a {
        padding: 10px 10px 10px 30px !important;
    }
    .dropdown-menu > li.locked > a,
    .dropdown-menu > li.locked > a:hover {
        padding-left: 48px !important;
    }
    .hn-navbar-collapse {
        padding: 0 15px;
    }
    .nav li.mobile-logo a img {
        max-width: 100%;
    }
    .hn-logo {
        width: 100%;
        padding: 13px 0px !important;
    }
    .hn-logo img {
        margin: 0 auto
    }
    .hn-navbar .navbar-toggle .icon-bar {
        background-color: white;
        margin: 4px 0 0;
        width: 21px
    }
    .hn-navbar .navbar-toggle {
        display: block;
        position: absolute;
        margin: 0;
        padding: 2px 6px;
        top: 70px;
        left: 0;
        background: #d7bb73;
        height: 30px;
        width: 35px;
        z-index: 100
    }
    .hn-navbar .navbar-nav {
        background-color: #ebebeb;
        float: none !important;
        margin: 0px;
    }
    .hn-navbar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        border: 0;
        box-shadow: none;
        background-color: #fff;
        padding: 0px;
    }
    .navbar-nav .open .dropdown-menu > li {
        border-left: 8px solid #c32f23;
        margin-left: -8px;
    }
    .hn-navbar .navbar-nav > li {
        float: none;
        border-left: 8px solid #d0ac45;
        border-radius: 0
    }
    .hn-navbar .navbar-nav > li:first-child {
        background-color: #37637a;
        border: 0px;
        border-bottom: 2px solid #37637a;
        padding: 2px 10px;
    }
    #wrapper {
        position: relative;
        left: 0;
        transition: all 0.35s ease;
    }
    .hn-navbar .navbar-collapse {
        position: fixed;
        top: 0;
        left: -250px;
        display: block;
        width: 250px;
        height: 100% !important;
        border: none;
        margin: 0;
        background-color: #dee2e5;
        transition: all 0.35s ease;
    }
    .hn-navbar .navbar-collapse.collapsing {
        transition: all 0.35s ease;
    }
    .hn-navbar .navbar-collapse.in {
        left: 0;
    }
    body.menu-slider.in {
        overflow: hidden;
    }
    body.menu-slider #wrapper {
        transition: all 0.35s ease;
    }
    body.menu-slider.in #wrapper {
        left: 250px;
        height: 100%;
        width: 100%
    }
    body.menu-slider.in #wrapper:before {
        background: black;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 99;
        left: 0px;
        opacity: .7;
        transition: all 0.35s ease;
    }
    nav .dropdown-menu {
        background: transparent;
        padding: 0 0 5px 0
    }
    .dropdown-menu > li.locked > a,
    .dropdown-menu > li.locked > a:hover {
        background-position: 30px 13px;
        width: 100%
    }
    .aside.aside-right {
        padding-top: 0px;
    }
    .tab-box {
        min-height: auto;
        padding: 25px 15px
    }
    .tabbox-btn{
        position: static;
        padding:0;
    }
    .content-area:before{
        width: 33.33333333%;
    }
    .content-area:after{
        display: none
    } 
    .dod-sort{
        margin: 15px 0 5px
    }
    .dod-sort-float{
        float: left;
    }
    .MedListUL{
        border-bottom: none;
        margin-bottom: 10px
    }
    .MedListUL .nav-secondaryTabs{
        border-bottom: 2px solid #356078;
    }
    /* HNFS Table for Mobile */
    .hnfs-res-table table, 
    .hnfs-res-table thead, 
    .hnfs-res-table tbody, 
    .hnfs-res-table th, 
    .hnfs-res-table td, 
    .hnfs-res-table tr { 
        display: block; 
    } 
    .hnfs-res-table thead tr { 
        display: none
    }
    .hnfs-res-table tbody tr{
        border-bottom: 1px solid #366079;
        padding: 5px 0
    }
    .hnfs-res-table tbody tr:last-child{
        border-bottom: none
    } 
    .hnfs-res-table td { 
        border: none; 
        position: relative; 
        white-space: normal;
        text-align:left;
    } 
    .hnfs-res-table td:before {
        content: attr(data-title); 
        white-space: nowrap;
        text-align:left;
        color: #37637a;
    }
    .hnfs-res-table .table > tbody > tr > td{
        padding: 4px 8px
    }
	.hnfs-res-table-form td .form-control {
		display: inline;
		width: 60%;
	}
	.hnfs-res-table-form td textarea.form-control {
		width: 92%;
	}
	/*npd search result*/
	.mtf_miles:after,
	.mtf_min:after {
		content: ","
	}
	.text-divider:before{
		content: "|";
		padding-right: 5px
	}
	.list-inline.star_size{
	margin:0;display:inline
	}
	.list-inline.star_size .glyphicon{
	top:3px
	}
}
@media (min-width: 768px) {
    .hn-home-box .collapse {
        display: block;
    }
    /*.hn-home-innerbox h4.collapsed{cursor:default;}*/    
    .aside,
    .mid-section {
        padding: 20px
    }
    .mobile-search-container{
        display: none !important;
    }
    .width-60{
		width: 60%;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
    .nav.hn-nav > li >a {
        padding: 10px 12px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /*Header*/
    
    .mid-section {
        float: right;
    }
    .md-mt20 {
        margin-top: 20px;
    }
    .mmt10{
        margin-top: 10px !important;
    }
    .mmb5{
        margin-bottom: 5px;
    }
    /*npd search result*/	
	.dsin-sm{display: inline;}
	.dsinit-sm{display: initial;}		
	#mtf_clinic_innertable2 th.visible-sm,
	#mtf_clinic_innertable2 td.visible-sm {
		display: block !important
	}
}
@media (max-width: 767px) {    
    .container {
        min-width: 320px;
    }
    .text-ellipsis_mob{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .hn-h1{
        margin-top: 10px
    }
	/*Header*/    
    #logos {
        position: absolute;
        bottom: 1px;
        padding-right: 20px;
        width: 100%;
        text-align: center
    }
    #utility_nav {
        float: none;
        margin: 0 auto;
        text-align: center;
        position: static;
        line-height: 30px
    }
    .hn-navbar {
        background: transparent;
        border: none
    }
    #header {
        height: 58px
    }
    header{
        height: auto;
    }
    .hn-navbar .navbar-toggle .icon-bar {
        margin-right: 0
    }
    .hn-navbar .navbar-toggle{
        top: 23px
    }
    .focusbox {
        padding: 10px;
        box-shadow: none;
    }
    footer ul li {
        line-height: 2;
        display: inline-block;
        margin-bottom: 5px;
    }
    .tricare-bene-h2 {
        padding-top: 10px;
        line-height: 35px;
    }
    .content-area:before{
        display: none;
    } 
    .content-area:before{
        display: none;
    } 
    .aside-left {
        -moz-border-radius: 6px 6px 0 0;
        -webkit-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }
    .aside-left .panel,
    .aside-right .panel {
        margin-bottom: 10px;
        border: 1px solid #bbb;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    .panel-default,
    .panel {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: none;
    }
    .aside,
    .mid-section {
        padding: 10px
    }
    /*.aside-left .panel:last-child {
        margin-bottom: 0
    }*/
    .nav-tabs > li > a {
        padding: 12px 25px;
    }
    .xs-mt20 {
        margin-top: 20px;
    }
    .xs-pl10{
        padding-left:10px;
    }
    .aside.mid-section,
    .aside.aside-left,
    .aside.aside-right {
        height: auto !important;
    }
    .aside-right, .mid-section, .nav-tabs {
        -moz-border-radius: 6px 6px 0 0;
        -webkit-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }
    .nav-secondaryTabs > li > a {
        padding: 10px;
    }
    .tab-content > .active {
        padding: 0;
    }
    /** Table Content **/
    .content-area > .row > aside, .content-area > .row > .mid-section{
        float: left;
    }
    .radio-btn label{
        margin-bottom: 10px;
        display:block;
    }
    p.result {
        color: #356078;
        display: block;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-top: 15px
    }
    
    .parentTabs >.nav-tabs li >a, .parentTabs >.nav-tabs li.completed >a {
        color: transparent;
    }
    .parentTabs >.nav-tabs li.active >a,
    .parentTabs li.disabled > a:focus {
        color: transparent;
    }
    .primaryTabs ul.nav-prim li > a {
        padding: 8px;
        font-size: 0;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        z-index: 2;
    }  
    .checkbox label {
        white-space: normal;
    }
    .MedListUL .nav-secondaryTabs {
        margin-bottom: 10px !important;
    }
    .MedListUL{
        border-bottom:none !important;  
    }
    .mFloatNone{
        float:none !important;
    }
    .mMarginAuto{
        margin: 0 auto; 
    }
    .mDisplayBlock{
        display: block;         
    }    
    .pagination {
        position: relative;
        float: none !important;
        padding-top: 30px;
        display:block;
        text-align:center;
    }
    .pagination li {
        display: inline-block;
    }
    .pageNumber {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        text-align: center;
    }
    .pageNumber a{
        float:none !important;  
        margin:0 !important;
    }
    .mmt5{
        margin-top: 5px;
    }
    .mmt10,
	.xs-mt10{
        margin-top: 10px !important;
    }
    .mmb5{
        margin-bottom: 5px;
    }
    .addDependent-P {
       border-bottom: 1px solid #366079 !important;
       padding-bottom:5px;
       margin:0px;
    }
    .mmt10{
        margin-top: 10px;
    }
    .mcus-width-55 {
        width: 55% !important;
    }
    .mmt0{
      margin-top: 0 !important;
    }
    .mtext-center{
      text-align: center;
    }
    
    h3.Medtitle{
        text-align: left;
    }
    .dod-sort{
        margin: 5px 0
    }
    #selectLocation .modal-body, #selectLocation_registration .modal-body{
        padding: 10px 0
    }
    #selectLocation .modal-header, #selectLocation_registration .modal-header, #select_Location_table thead tr th:first-child{
        padding-left: 0
    }
    #select_Location_table .radio{
        margin: 5px 5px 5px 0
    }
    a.select-location.yellow{
        white-space: nowrap;
    }
    table#allowPerTable_provider tr td:first-child, table#allowPerTable_provider tr th:first-child{
        padding-left: 0;
        display: table-cell;
    }
    table#allowPerTable_provider tr td:last-child{
        padding-right: 0
    }
    table#allowPerTable_provider tr th:last-child{
        width: auto
    }
    #verify hr{
        margin: 10px 0 0
    }
    .showSkc{
        margin-top: 20px
    }
    .primaryTabs ul.nav-prim{
        margin-top: 20px;
    }
    /* HNFS Table for Mobile */
    .hnfs-table table, 
    .hnfs-table thead, 
    .hnfs-table tbody, 
    .hnfs-table th, 
    .hnfs-table td, 
    .hnfs-table tr { 
        display: block; 
    } 
    .hnfs-table thead tr { 
        display: none
    }
    .hnfs-table tbody tr{
        border-bottom: 1px solid #366079;
        padding: 5px 0
    }
    .hnfs-table tbody tr:last-child{
        border-bottom: none
    } 
    .hnfs-table td { 
        border: none; 
        position: relative; 
        white-space: normal;
        text-align:left;
    } 
    .hnfs-table td:before {
        content: attr(data-title); 
        white-space: nowrap;
        text-align:left;
        color: #37637a;
    }
    .hnfs-table .table > tbody > tr > td{
        padding: 4px 8px
    }
	.hnfs-res-table-form td .form-control {
		width: 100%;
	}
    .update-individual-button{
        margin-top: 0px;
    }
	/*npd search result*/
	.dsin-xs{display: inline;}
	#mtf_clinic_innertable2 th.visible-xs,
	#mtf_clinic_innertable2 td.visible-xs {
		display: block !important
	}
}

/***********error msg*****/
#error_container{
    background: #fff;
    color: #cc3333;
    border: 1px solid #cc3333;
    padding: 12px 15px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 0 0 20px 0;
}
.form_error 
    color: #cc3333;
    font-weight: bold;
}
#error_container p.form_error{
    margin: 0;
    padding: 0 0 0 12px;
    background: url(../images/bullet_arrow.gif) 0 5px no-repeat;
}
/***********error msg end*****/
#dodpage2{display:none;}

		.hidden_comment .panel-body {
			padding: 5px 0px 10px 0px;
		}
		.hidden_comment .panel-heading {
			padding: 15px 20px;
		}
		.hidden_comment .panel {
			border-top: 1px solid #b7b7b7;
			border-bottom: 2px solid #b7b7b7;
			border-radius: initial;
			top: -2px;
			position: relative;
		}
       
		/*.hidden_comment .list-inline {
			display: flex
		}*/
		.hidden_comment .panel {
			background: #fafafa
		}
